body { background: #e2ef68; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 14px; display: flex; }
.block-uploader-0 { color: #ed4981; font-size: 19px; margin-bottom: 5px; }
.block-filter-1 { color: #2fa454; font-size: 20px; margin-bottom: 5px; }
.block-cluster-2 { color: #6db2ad; font-size: 21px; margin-bottom: 5px; }
.block-product-3 { color: #a6178c; font-size: 19px; margin-bottom: 5px; }
.block-email-4 { color: #964248; font-size: 20px; margin-bottom: 5px; }
.block-payment-5 { color: #5c741b; font-size: 14px; margin-bottom: 5px; }
.block-validator-6 { color: #c7bba1; font-size: 14px; margin-bottom: 5px; }